@using VendorTracker.Models;

@{
  ViewBag.Title = "Vendor and Order Tracker";
  Layout = "_Layout";
}

<div class="jumbotron">
<h1>Vendor @Model["vendor"].Name</h1>
</div>
<h5>Description: @Model["vendor"].Description</h5>



<p><a href='/vendors/neworder'>Add a new order to vendor</a></p>