@{
  ViewBag.Title = "Vendor and Order Tracker";
  Layout = "_Layout";
}

<div class="jumbotron">
<h1>Welcome to Pierre's Vendor and Order Tracker!</h1>
</div>
<img src="~/img/01.jpg" class="img-fluid"> 
<p><a href='/places/new'>Add a new place</a></p>
<p><a href='/places'>See list of places</a></p>
