@using VendorTracker.Models;

@{
  ViewBag.Title = "Vendor and Order Tracker";
  Layout = "_Layout";
}

<div class="jumbotron">
<h1>Add new Order to Vendor</h1>
</div>

<div class="form">
  <form action="/vendors/@Model.VendorId/orders" method="post">
    <div class="form-group">
      <label for="ordertitle">Add order's title:</label>
      <input id="ordertitle" name="ordertitle" type="text">
    </div>
    <div class="form-group">
      <label for="orderdescription">Add order's description:</label>
      <input class="form-control" id="orderdescription" name="orderdescription" type="text">
    </div>
    <div class="form-group">
      <label for="orderprice">Add order's price:</label>
      <input id="orderprice" name="orderprice" type="number">
    </div>
    <div class="form-group">
      <label for="orderdate">Add order's date:</label>
      <input id="orderdate" name="orderdate" type="date">
    </div>  
    <button type="submit">Add Order</button>
  </form>
</div>


<div class="links">
  <div class="link">
    <p><a href='/vendors'>See list of vendors</a></p>
  </div>
  <div class="link">
    <p><a href='/'>Back to main page</a></p>
  </div>
</div>